<div class="week-view">
  <!-- Header -->
  <header class="week-view__stickyheader">
    <div class="week-view__header">
      <button (click)="prevWeek()">&#8592;</button>
      <span>{{ weekDays()[0] | date: 'MMM d' }} – {{ weekDays()[6] | date: 'MMM d, y' }}</span>
      <button (click)="nextWeek()">&#8594;</button>
    </div>

    <!-- Day headers -->
    <div class="week-view__day-headers">
      <div class="week-view__day-headers__placeholder"></div>
      @for (day of weekDays(); track day.toISOString()) {
        <div class="week-view__day-headers__day">
          <span class="day-name">{{ day | date: 'EEE' }}</span>
          <span
            class="day-number"
            [style.backgroundColor]="isToday(day) ? '#A8C8F9' : 'transparent'"
            [style.color]="isToday(day) ? '#153566' : ''"
            >{{ day | date: 'd' }}</span
          >
        </div>
      }
    </div>
  </header>

  <!-- Grid -->
  <div class="week-view__grid">
    <!-- Hour column -->
    <div class="week-view__grid__hour-col">
      @for (hour of hours; track hour) {
        <div class="week-view__grid__hour-col__cell">{{ hour }}</div>
      }
    </div>

    <!-- Day columns -->
    @for (day of weekDays(); track day.toISOString()) {
      <div class="week-view__grid__day-col" (click)="openModal(day)">
        @for (hour of hours; track hour) {
          <div class="week-view__grid__day-col__cell"></div>
        }
        <div class="week-view__grid__day-col__events">
          @for (event of getEvents(day); track event.id) {
            <app-event-chip
              [event]="event"
              (click)="openModal(day, event); $event.stopPropagation()"
            />
          }
        </div>
      </div>
    }
  </div>

  <!-- we use syntactic sugar instead of writing (isOpenChange)="modalOpen.set($event)", as [()] will automatically update the input with the returned $event value -->
  <app-event-modal
    [(isOpen)]="modalOpen"
    [date]="selectedDate()"
    (eventCreated)="onEventCreated($event)"
    (eventUpdated)="onEventUpdated($event)"
    (eventDeleted)="onEventDeleted($event)"
    [existingEvent]="selectedEvent()"
  />
</div>
