$color-bg-dark: #1B1B1B;
$color-bg-medium: #131313;
$color-border: #222222;
$color-text: #D1D5DB;
$color-today-bg: #A8C8F9;
$color-today-text: #153566;

$hour-height: 100px;
$day-header-height: 100px;