$color-bg-dark: #1b1b1b;
$color-bg-medium: #131313;
$color-border: #222222;
$color-text: #d1d5db;
$color-today-bg: #a8c8f9;
$color-today-text: #153566;

$hours: 12;
$hour-height: 100px;
$day-header-height: 100px;
